body {
    background: black;
    
}

.home {
    padding: 2px;
    color: black;
    margin-top: 3px;
    cursor: pointer;
    font-size: 17px;
    border-radius: 4px;
    border: none;
    background: goldenrod;
    font-family: "Caveat Brush";
}

a {
    text-decoration: none;
}

.home:hover {
    background: grey;
    color: white;
    box-shadow: 0 0 20px grey;
    transform: scale(1.1);
    transition: 0.4s;
}

h2 {
    font-family: 'Graffiti font';
    color: goldenrod;
    text-shadow: 2px 2px 0 gold;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.button-container:hover .button-label{
    color: white;
    transform: scale(1.1);
    transition: 0.6s;
    text-shadow: 0 0 10px rgb(190, 186, 186);
}

.button-container:hover .buttons_option {
    transform: scale(1.1);
    background: grey;
    box-shadow: 0 0 20px rgb(190, 186, 186);
    color: white;
    border-radius: 10px;
}

.buttons_option {
    cursor: pointer;
    background: goldenrod;
    border: goldenrod;
    box-shadow: 0 0 20px goldenrod;
    border-radius: 4px;
    font-size: 20px;
    font-family: "Caveat Brush";
    transition: 0.4s;
}

.button-label {
    color: gold;
    font-family: "Caveat Brush";
    margin-left: 15px;
}